{
  "printWidth": 80,
  "trailingComma": "all",
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react-(._)$)|^(react/(._)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^_includes/(._)$",
    "^_components/(._)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": [
    "clsx",
    "cva",
    "cx"
  ]
}
