@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html,
  body {
    scroll-behavior: auto;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @apply cat-latte;
  }
}

.prose {
  --tw-prose-body: theme(colors.cat-subtext1.DEFAULT);
  --tw-prose-headings: theme(colors.cat-text.DEFAULT);
  --tw-prose-bold: theme(colors.cat-text.DEFAULT);
  --tw-prose-counters: theme(colors.cat-blue.DEFAULT);
  --tw-prose-bullets: theme(colors.cat-blue.DEFAULT);
  --tw-prose-pre-bg: theme(colors.cat-base.DEFAULT);
  --tw-prose-quotes: theme(colors.cat-subtext0.DEFAULT);
  --tw-prose-quote-borders: theme(colors.cat-mauve.DEFAULT);
  --tw-prose-code: theme(colors.cat-mauve.DEFAULT);
  @apply max-w-none prose-code:font-medium;
}
