@import 'css/code-catppuccin.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

html.cat-mocha button svg[data-icon='dark'] {
  display: none;
}

html.cat-latte button svg[data-icon='light'] {
  display: none;
}

@media (prefers-reduced-motion) {
  html,
  body {
    scroll-behavior: auto;
  }
}

a,
button {
  @apply transition-colors;
}

.prose {
  --tw-prose-body: theme(colors.cat-subtext1.DEFAULT);
  --tw-prose-headings: theme(colors.cat-text.DEFAULT);
  --tw-prose-bold: theme(colors.cat-text.DEFAULT);
  --tw-prose-counters: theme(colors.cat-blue.DEFAULT);
  --tw-prose-bullets: theme(colors.cat-blue.DEFAULT);
  --tw-prose-pre-bg: theme(colors.cat-base.DEFAULT);
  --tw-prose-quotes: theme(colors.cat-subtext0.DEFAULT);
  --tw-prose-quote-borders: theme(colors.cat-mauve.DEFAULT);
  --tw-prose-code: theme(colors.cat-mauve.DEFAULT);
  @apply max-w-none prose-code:font-medium;

  pre {
    @apply border border-cat-surface0;
  }
}
